<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- No args constructor bean -->
    <bean id="htmlButton" class="org.example.buttons.HtmlButton"/>
    <!-- Static Factory -->
    <bean id="staticFactoryHtmlBtn" class="org.example.buttons.HtmlButtonStaticFactory" factory-method="createHtmlButton"/>
    <!-- Inject Bean by using instance factory method -->
    <bean id="btnFactory" class="org.example.buttons.HtmlButtonFactory"/>
    <!-- Note: the factory method must be non-static -->
    <bean id="factoryHtmlBtn" factory-bean="btnFactory" factory-method="createHtmlButton"/>
</beans>