<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- No args constructor bean -->
    <bean id="roundHole" class="org.example.round.RoundHole"/>
    <!-- Static Factory -->
    <bean id="htmlButton1" class="org.example.buttons.HtmlButtonStaticFactory" factory-method="createHtmlButtonInstance"/>

    <!-- Inject Bean by using instance factory method -->
    <bean id="htmlButtonFactory" class="org.example.buttons.HtmlButtonFactory"/>
    <!-- Note: the factory method must be non-static -->
    <bean id="htmlButtonInstance" factory-bean="htmlButtonFactory" factory-method="createHtmlButtonInstance"/>
</beans>